<tr id="request_approved-<%= request_approved.id%>">
  <th scope="row">    
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= request_approved.item.name %></span>
      </div>
    </div>
  </th>
  <th scope="row">    
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= request_approved.item.price %> $</span>
      </div>
    </div>
  </th>
  <td class="budget">
    <%= request_approved.deliver.status %>
  </td>
   <td class="budget">
    CPU:
    <%= request_approved.item.detail["CPU"] %>,
    RAM:
    <%= request_approved.item.detail["RAM"] %>,
    Hard Drive:
    <%= request_approved.item.detail["HardDrive"] %>
  </td>
</tr>
<%if request_approved.deliver.item.status.out_stock?%>
  <%@count = @count + 1 %>
<%end%>
