<tr id="item_total-<%= item_total.id%>">
  <th scope="row">    
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= item_total.name %></span>
      </div>
    </div>
  </th>
  <th scope="row">    
    <div class="media align-items-center">
      <div class="media-body">
        <span class="name mb-0 text-sm"><%= item_total.comment %></span>
      </div>
    </div>
  </th>
  <td class="budget">
    <%= item_total.price %> $
  </td>
  <td class="budget">
    <%= link_to 'Show', admin_item_path(item_total),  :class => "btn btn-primary btn-submit"%>
  </td>
</tr>
